
.fix{
	transform: scale(0.8);
	position: relative;
	display: inline-block;
	height: 200px;
	width: 125px;
	margin: -8px;
/*	border: 1px red solid;*/
}

.home{
	transform: scale(0.8);
	position: relative;
	display: inline-block;
	height: 200px;
	width: 125px;
	margin: -8px;
/*	border: 1px red solid;*/
}

.letter {
	transform: scale(0.8);
	position: relative;
	display: inline-block;
	height: 200px;
	width: 125px;
	margin: -8px;
	visibility: hidden;
	float: left;
/*	border: 1px red solid;*/
}

p {
	font-family: "orator std", "sans-serif";
	color: white;
	font-weight: 100;
	text-align: center;
	margin: 0 15%;
	
	
}

.thought {
	top: 20%;
	margin: 0 15%;
	text-align: center;
}

#clickplz {
	font-size: 0.8em;
	position: absolute;
	display: none;
	left: 45%;
}

#clickplzplaceholder {
	font-size: 0.8em;
	opacity: 0;
	position: absolute;
	display: none;
	left: 45%;
}

.a:link, a:visited, a:active {
	font-family: "orator std", "sans-serif";
	color: white;
	font-weight: 100;
	text-align: center;
	margin: 0 15%;
}

/*-----------------------
-----------grids-----------
-------------------------*/

#grid_1 {
	position: fixed;
	height: 42%;
	width: 22%;
	top: 2%;
/*	border: blue 1px solid;*/
	display: inline-block;
	z-index: 1;
}

#grid_2 {
	position: fixed;
	height: 42%;
	width: 23%;
	left: 25%;
	top: 2%;
	display: inline-block;
/*	border: blue 1px solid;*/
	z-index: 1;
}

#grid_3 {
	position: fixed;
	height: 42%;
	width: 23%;
	left: 50%;
	top: 2%;
	display: inline-block;
/*	border: blue 1px solid;*/
	z-index: 1;
}

#grid_4 {
	position: fixed;
	height: 42%;
	width: 23%;
	left: 75%;
	top: 2%;
	display: inline-block;
/*	border: blue 1px solid;*/
	z-index: 1;
}

#grid_5 {
	position: fixed;
	height: 42%;
	width: 23%;
	left: 0;
	bottom:2%;
	display: inline-block;
/*	border: blue 1px solid;*/
	z-index: 1;
}

#grid_6 {
	position: fixed;
	height: 42%;
	width: 23%;
	left: 25%;
	bottom: 2%;
	display: inline-block;
/*	border: blue 1px solid;*/
	z-index: 1;
}

#grid_7 {
	position: fixed;
	height: 42%;
	width: 23%;
	left: 50%;
	bottom:2%;
	display: inline-block;
/*	border: blue 1px solid;*/
	z-index: 1;
}

#grid_8 {
	position: fixed;
	height: 42%;
	width: 23%;
	left: 75%;
	bottom:2%;
	display: inline-block;
/*	border: blue 1px solid;*/
	z-index: 1; 
}


/*--------------------------
--------pages---------
--------------------------*/
#home {
	background: black; 
	overflow: hidden;
	z-index: 2;
}
	
	#typeface {
	background: black;
	text-align: center;
	display: none;
	
	}

#page1 {
	background: red;
	overflow: hidden;
}

	#constructtext {
		display:none;
	}

#page2 {
	background: gray;
	overflow: hidden;
}
	#relativetext {
		display: none;
	}

#page3 {
	background: #2c326b;
	overflow: hidden;
}
	#absurdtext {
		display: none;
	}
#page4 {
	background: #f8c100;
	overflow: hidden;
}
	#existentialtext {
		display: none;
	}

#last {
	background: black;
}


/*---------------------------
----------animation----------
----------------------------*/

.hover {
	display: inline-block;
}

@-webkit-keyframes reveal {
    0%   {width: 0px;}
    100% { width: 100%;}
}
@keyframes reveal {
    0%   {width: 0px;}
    100% { width: 100%;}
}

/*------------------------------
-----------responsive----------
-------------------------------*/

@media only screen and (min-width:560px) and (max-width: 802px) {
	.fix {
		transform: scale(0.6);
		margin: -20px;
	}
	.letter {
		transform: scale(0.6);
		margin: -20px;
	}
	.home {
		transform: scale(0.6);
		margin: -20px;
	}
}

@media only screen and (max-width: 560px) {
	.fix {
		transform: scale(0.52);
		margin: -29px;
	}
	.letter {
		transform: scale(0.52);
		margin: -29px;
	}
	.home {
		transform: scale(0.52);
		margin: -29px;
	}
}

/*--------------------------
------------A----------------
----------------------------*/

#Aleft {
	position: absolute;
	bottom: 0px;
	left: 20px;
	height: 110px;
	width: 2px;
	transform: rotate(17deg);
	background: white;
}

#Aright {
	position: absolute;
	top: -4px;
	right: 30px;
	height: 210px;
	width: 2px;
	transform: rotate(-17deg);
	background: white;
}
	
#Amid {
	position: absolute;
	width: 54px;
	height: 2px;
	background: white;
	left: 42px;
	top: 105px;
}

#Aline {
	position: absolute;
	bottom: 32px;
	right: 34px;
	height: 50px;
	width: 2px;
	transform: rotate(-17deg);
	background: white;
	
}

#Aleftdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	top: 70px;
	left: 40px;
}

#Arightdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	bottom: 7px;
	right: 20px;
	
}

/*--------------------------
------------B----------------
----------------------------*/
#Bleft {
	position: absolute;
	height: 200px;
	width: 2px;
	background: white;
	top: 0;
	left:0;
}

#Btopcurve {
	position: absolute;
	height: 96px;
	width: 100px;
	top: 0px;
	right: 0px;
	border-top: 2px white solid;
	border-right: 2px white solid;
	border-bottom: 2px white solid;
	border-radius: 0 160px 160px 0;
}

#Bbottomcurve {
	position: absolute;
	height: 97px;
	width: 90px;
	bottom: 0px;
	right: 0px;
	border-top: 2px white solid;
	border-right: 2px white solid;
	border-bottom: 2px white solid;
	border-radius: 0 160px 160px 0;
}

#Bline {
	position: absolute;
    height: 107px;
    width: 2px;
    left: 12px;
    bottom: 25px;
    background: white;
}
#Bleftdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	bottom: 0px;
	left: 11px;
}

#Brightdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	top: 45px;
	left: 11px;
}

/*----------------------------
------------C-----------------
----------------------------*/


#Clefttop {
	position: absolute;
	height: 100px;
	width: 90px;
	border-top: 2px white solid;
	border-left: 2px white solid;
	border-top-left-radius: 100%;
}

#Cleftbottom {
	position: absolute;
	height: 100px;
	width: 90px;
	border-bottom: 2px white solid;
	border-left: 2px white solid;
	bottom: 2px;
	border-bottom-left-radius: 100%;
}

#Crighttop {
	position: absolute;
	height: 80px;
	width: 80px;
	border-top: 2px white solid;
	border-left: 2px white solid;
	top: 00px;
	left: 30px;
	border-top-left-radius: 100%;
	transform: rotate(17deg);
}

#Crightbottom {
	position: absolute;
	height: 80px;
	width: 70px;
	border-bottom: 2px white solid;
	border-left: 2px white solid;
	bottom: 4px;
	left: 30px;
	border-bottom-left-radius: 100%;
	transform: rotate(-17deg)
}

#Crightdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	bottom: 2px;
	right: 20px;
	border-radius: 100%;
}

#Cleftdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 0px;
	right: 15px;
	border-radius: 100%;
}

/*--------------------------
------------D----------------
----------------------------*/
#Dleft {
	position: absolute;
	height: 140px;
	width: 2px;
	background: white;
	top: 0;
	left:0;
}

#Dline {
	position: absolute;
    height: 107px;
    width: 2px;
    left: 12px;
    bottom: 18px;
    background: white;
}

#Dtop {
	position: absolute;
	height: 100px;
	width: 100px;
	right: 0px;
	border-top: 2px white solid;
	border-right: 2px white solid;
	border-top-right-radius: 100%;

}

#Dbottom {
	position: absolute;
	height: 100px;
	width: 100px;
	border-bottom: 2px white solid;
	border-right: 2px white solid;
	bottom: 2px;
	right: 0px;
	border-bottom-right-radius: 100%;
}

#Dleftdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	bottom: 0px;
	left: 0px;
}

#Drightdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	top: 45px;
	left: 11px;
}

/*--------------------------
------------E----------------
----------------------------*/

#Eleft {
	position: absolute;
	height: 200px;
	width: 2px;
	background: white;
	top: 0;
	left:0;
}

#Etop {
	position: absolute;
	height: 2px;
	width: 100px;
	right: 0;
	background: white;
}

#Emid {
	position: absolute;
	height: 2px;
	width: 110px;
	right: 0;
	top: 90px;
	background: white;
}

#Ebottom {
	position: absolute;
	height: 2px;
	width: 125px;
	right: 0;
	bottom: 0;
	background: white;
}

#Ebottomline {
	position: absolute;
	height: 2px;
	width: 80px;
	right: 0;
	bottom: 12px;
	background: white;
}

#Eline {
	position: absolute;
	background: white;
	height: 100px;
	width: 2px;
	left: 12px;
	top: 40px;
}

#Eleftdot {
	position: absolute;
    bottom: 11px;
    left: 12px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}

#Erightdot {
	position: absolute;
    top: 19px;
    left: 12px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}

/*--------------------------
------------F----------------
----------------------------*/

#Fleft {
	position: absolute;
	height: 200px;
	width: 2px;
	background: white;
	top: 0;
	left:0;
}

#Ftop {
	position: absolute;
	height: 2px;
	width: 100px;
	right: 0;
	background: white;
}

#Fmid {
	position: absolute;
	height: 2px;
	width: 110px;
	right: 0;
	top: 90px;
	background: white;
}

#Fbottomline {
	position: absolute;
	height: 2px;
	width: 90px;
	left: 12;
	bottom: 92px;
	background: white;
}

#Fline {
	position: absolute;
	background: white;
	height: 93px;
	width: 2px;
	left: 12px;
	bottom: 0px;
}

#Fleftdot {
	position: absolute;
    bottom: 91px;
    right: 12px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}

#Frightdot {
	position: absolute;
    top: 70px;
    left: 12px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}

/*--------------------------
--------------G-------------
----------------------------*/

#Glefttop {
position: absolute;
	height: 60px;
	width: 120px;
	top: 0px;
	border-top: 2px white solid;
	border-right: 2px white solid;
	border-left: 2px white solid;
	border-radius: 160px 160px 0 0;
}

#Gbottom {
	position: absolute;
	height: 60px;
	width: 120px;
	bottom: 0px;
	border-bottom: 2px white solid;
	border-right: 2px white solid;
	border-left: 2px white solid;
	border-radius: 0 0 160px 160px;
}

#Gleft {
	position: absolute;
	height: 85px;
	width: 2px;
	left:0;
	top: 59px;
	background: white;
}

#Gright {
	position: absolute;
	height: 30px;
	width: 2px;
	right: 14px;
	bottom: 50px;
	background: white;
}

#Gmid {
	position: absolute;
	height: 2px;
	width: 60px;
	bottom: 80px;
	right: 14px;
	background: white;
}

#Gmidline {
	position: absolute;
	height: 2px;
	width: 70px;
	background: white;
	right: 5;
	top: 105px;
}

#Gleftline {
	position: absolute;
	height: 70px;
	width: 2px;
	top: 80px;
	left: 13px;
	background: white;
	
}

#Gleftdot {
	position: absolute;
    bottom: 60px;
    right: 30px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}

#Grightdot{
	position: absolute;
    top: 61px;
    left: 12px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}

/*----------------------------
------------- H --------------
-----------------------------*/

#Hleft {
    position: absolute;
    height: 200px;
    width: 2px;
    left: 0;
    top: 0;
	background: white;
}

#Hleft-top {
    position: absolute;
    height: 93px;
    width: 2px;
    left: 12px;
    top: 0px;
    background: white;
}

#Htop {
    position: absolute;
    height: 3px;
    width: 90px;
    left:12px;
    top: 93px;
    background: white;
}

#Hbottom {
    position: absolute;
    height: 2px;
    width: 90px;
    right: 12px;
    bottom: 91px;
    background: white;
}

#Hright-bottom {
    position: absolute;
    height: 93px;
    width: 2px;
    right: 12px;
    bottom: 0px;
    background: white;
}

#Hright {
    position: absolute;
    height: 200px;
    width: 2px;
    right: 0;
    top: 0;
    background: white;
}

#Hleft-dot {
    position: absolute;
    bottom: 90px;
    left: 12px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}

#Hright-dot {
    position: absolute;
    top: 93px;
    right: 12px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}


/*-----------------------
----------I---------------
----------------------*/


#Itop {
	position: absolute;
	height: 2px;
	width: 125px;
	background: white;
	top: 0px;
	right: 0px;
}

#Ileft {
    position: absolute;
    height: 93px;
    width: 2px;
    left: 55px;
    top: 12px;
    background: white;
}

#Itopleft {
    position: absolute;
    height: 3px;
    width: 40px;
    left:17px;
    top: 12px;
    background: white;
}

#Iright {
    position: absolute;
    height: 120px;
    width: 2px;
    right: 55px;
    bottom: 12px;
    background: white;
}

#Ibottomright {
    position: absolute;
    height: 3px;
    width: 40px;
    right:17px;
    bottom: 12px;
    background: white;
}

#Ibottom {
	position: absolute;
	height: 2px;
	width: 125px;
	background: white;
	bottom: 0px;
	right: 0px;
}

#Irightdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 50px;
	right: 53px;
	border-radius: 100%;
}

#Ileftdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	bottom: 76px;
	left: 54px;
	border-radius: 100%;
}

/*--------------------------
--------------J-------------
----------------------------*/

#Jright {
	position: absolute;
	width: 2px;
	height: 144px;
	background: white;
	top: 0;
	right:0;
}

#Jrightline {
	position: absolute;
	width: 2px;
	height: 100px;
	background: white;
	right: 13px;
	top: 50px;
}

#Jbottomright {
	position: absolute;
	height: 60px;
	width: 60px;
	border-bottom: 2px white solid;
	border-left: 2px white solid;
	bottom: 0;
	left: 0px;
	border-bottom-left-radius: 100%;
}


#Jbottomleft {
	position: absolute;
	height: 40px;
	width: 40px;
	border-bottom: 2px white solid;
	border-right: 2px white solid;
	bottom: 15;
	right: 0px;
	border-bottom-right-radius: 100%;

}

#Jtop {
	position: absolute;
	height: 2px;
	width: 80px;
	right: 0px;
	background: white;
}

#Jrightdot {
    position: absolute;
    bottom: 14px;
    right: 55px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}

#Jleftdot {
	position: absolute;
    bottom: 65px;
    left: 12px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}

/*--------------------------
--------------K-------------
----------------------------*/
#Kdiagleft {
	position: absolute;
	height: 190px;
	width: 2px;
	background: white;
	transform: rotate(40deg);
	left: 62px;
	top: -20px;
	
}

#Kdiagright {
	position: absolute;
	height: 100px;
	width: 2px;
	background: white;
	transform: rotate(40deg);
	right: 80px;
	top: 31px;
}

#Kleftout {
	position: absolute;
    height: 200px;
    width: 2px;
    left: 0;
    top: 0;
    background: white;
}

#Kleftin {
	position: absolute;
    height: 50px;
    width: 2px;
    left: 12px;
    top: 70px;
    background: white;
}

#Kdiagdown {
	position: absolute;
	height: 120px;
	width: 2px;
	transform: rotate(-40deg);
	background: white;
	bottom: -10;
	right: 40;
}

#Krightdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 50px;
	left: 11px;
	border-radius: 100%;
}

#Kleftdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	bottom: 40px;
	left: 11px;
	border-radius: 100%;
}


/*--------------------------
-------------L---------------
----------------------------*/

#Lleft{
	position: absolute;
    height: 160px;
    width: 2px;
    left: 0;
    top: 0;
	background: white;
}

#Lline {
	position: absolute;
    height: 120px;
    width: 2px;
    left: 12px;
    bottom: 0px;
    background: white;
}

#Lbottom {
	position: absolute;
	width: 112px;
	height: 2px;
	background: white;
	bottom: 0;
	right: 0;
}

#Lbottomline{
	position: absolute;
	width: 80px;
	height: 2px;
	background: white;
	bottom: 12px;
	right: 20px;
}

#Lleftdot {
	position: absolute;
    top: 60px;
    left: 12px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}

#Lrightdot {
	position: absolute;
    bottom: 17px;
    left: -1px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}

/*----------------------------
------------- M --------------
-----------------------------*/


#Mleft {
	position: absolute;
    height: 200px;
    width: 2px;
    left: 0;
    top: 0;
    background: white;
}

#Mleftline {
	position: absolute;
    height: 130px;
    width: 2px;
    left: 12px;
    bottom: 0;
    background: white;
}

#mleftdiag {
	position: absolute;
	height: 90px;
	width: 2px;
	background: white;
	transform: rotate(-40deg);
	left: 30px;
	top: -10px;
	
}

#mrightdiag {
	position: absolute;
	height: 90px;
	width: 2px;
	background: white;
	transform: rotate(40deg);
	right: 30px;
	top: -10px;
}

#mright {
	position: absolute;
    height: 200px;
    width: 2px;
    right: 0;
    top: 0;
    background: white;
}

#mrightdiagline {
	position: absolute;
	height: 70px;
	width: 2px;
	background: white;
	transform: rotate(40deg);
	right: 35px;
	top: 26px;
}

#mrightline {
	position: absolute;
	background: white;
	height: 120px;
	width: 2px;
	background: white;
	right: 12px;
	top: 43px;
}

#mleftdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	top: 55px;
	left: 12px;
}

#mrightdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	bottom: 24px;
	right: 11px;
}


/*---------------------------
------------N-----------------
-----------------------------*/


#Nleftout {
	position: absolute;
    height: 200px;
    width: 2px;
    left: 0;
    top: 0;
    background: white;
}

#Nleftin {
	position: absolute;
    height: 140px;
    width: 2px;
    left: 12px;
    bottom: 0;
    background: white;
}

#Ndiagleft {
	position: absolute;
	height: 190px;
	width: 2px;
	background: white;
	transform: rotate(-40deg);
	left: 62px;
	top: -20px;
	
}

#Ndiagright {
	position: absolute;
	height: 100px;
	width: 2px;
	background: white;
	transform: rotate(-40deg);
	left: 80px;
	bottom: 31px;
}

#Nrightout {
	position: absolute;
    height: 200px;
    width: 2px;
    right: 0;
    top: 0;
    background: white;
}

#Nrightin {
	position: absolute;
    height: 50px;
    width: 2px;
    right: 12px;
    top: 70px;
    background: white;
}

#Nrightdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 50px;
	right: 11px;
	border-radius: 100%;
}

#Nleftdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 50px;
	left: 11px;
	border-radius: 100%;
}

/*--------------------------
-----------O----------------
--------------------------*/


#Olefttop {
	position: absolute;
	height: 100px;
	width: 70px;
	border-top: 2px white solid;
	border-left: 2px white solid;
	border-top-left-radius: 100%;

}

#Oleftbottom {
	position: absolute;
	height: 100px;
	width: 60px;
	border-bottom: 2px white solid;
	border-left: 2px white solid;
	bottom: 2px;
	border-bottom-left-radius: 100%;
}

#Oleftdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	bottom: 0px;
	left: 70px;
	border-radius: 100%;
}

#Orighttop {
	position: absolute;
	height: 90px;
	width: 50px;
	border-top: 2px white solid;
	border-right: 2px white solid;
	top: 10px;
	right: 2px;
	border-top-right-radius: 100%;
}

#Orightbottom {
	position: absolute;
	height: 90px;
	width: 50px;
	border-bottom: 2px white solid;
	border-right: 2px white solid;
	bottom: 10px;
	right: 2px;
	border-bottom-right-radius: 100%;
}

#Orightdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 9px;
	left: 60px;
	border-radius: 100%;
}


/*----------------------------
------------- P --------------
-----------------------------*/
#Pleft {
	position: absolute;
	height: 200px;
	width: 2px;
	background: white;
	top: 0;
	left:0;
}

#Pleftline{
	position: absolute;
    height: 97px;
    width: 2px;
    left: 12px;
    bottom: 30px;
    background: white;
}

#Pright {
	position: absolute;
	height: 100px;
	width: 110px;
	top: 0px;
	left: 12px;
	border-top: 2px white solid;
	border-right: 2px white solid;
	border-bottom: 2px white solid;
	border-radius: 0 160px 160px 0;
}

#Pleftdot {
    position: absolute;
    bottom: 10px;
    left: 12px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;	
}

#Prightdot {
	position: absolute;
    top: 50px;
    left: 12px;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 100%;
}



/*--------------------------
--------------Q-------------
----------------------------*/

#Qlefttop {
	position: absolute;
	height: 100px;
	width: 70px;
	right: 0px;
	border-top: 2px white solid;
	border-right: 2px white solid;
	border-top-right-radius: 100%;

}

#Qleftbottom {
	position: absolute;
	height: 100px;
	width: 60px;
	right: 0px;
	border-bottom: 2px white solid;
	border-right: 2px white solid;
	bottom: 2px;
	border-bottom-right-radius: 100%;
}

#Qleftdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	bottom: 12px;
	left: 60px;
	border-radius: 100%;
}

#Qrighttop {
	position: absolute;
	height: 90px;
	width: 50px;
	border-top: 2px white solid;
	border-left: 2px white solid;
	top: 10px;
	left: 2px;
	border-top-left-radius: 100%;
}

#Qrightbottom {
	position: absolute;
	height: 90px;
	width: 50px;
	border-bottom: 2px white solid;
	border-left: 2px white solid;
	bottom: 12px;
	left: 2px;
	border-bottom-left-radius: 100%;
}

#Qrightdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 9px;
	left: 60px;
	border-radius: 100%;
}

#Qdiag {
	position: absolute;
	height: 60px;
	width: 2px;
	background: white;
	transform: rotate(-40deg);
	bottom: 5px;
	right: 20px;
	
}

/*---------------------
----------R--------------
-----------------------*/

#Rleftout {
    position: absolute;
    height: 200px;
    width: 2px;
    left: 0;
    top: 0;
    background: white;
    overflow: hidden;
}

#Rleft {
    position: absolute;
    height: 180px;
    width: 2px;
    left: 12;
    top: 20;
    background: white;
    overflow: hidden;
}

#Rcurve {
	position: absolute;
	height: 100px;
	width: 110px;
	top: 0px;
	left: 18px;
	border-top: 2px white solid;
	border-right: 2px white solid;
	border-bottom: 2px white solid;
	border-radius: 0 160px 160px 0;
}

#Rcurveinner {
	position: absolute;
	height: 40px;
	width: 40px;
	border-top: 2px white solid;
	border-right: 2px white solid;
	top: 10px;
	right: 10px;
	border-top-right-radius: 100%;

}


#Rdiag {
	position: absolute;
	height: 100px;
	width: 2px;
	background: white;
	transform: rotate(-17deg);
	bottom: 0px; 
	right: 12px;
	
}

#Rrightdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 9px;
	right: 65px;
	border-radius: 100%;
}

#Rleftdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 70px;
	right: 12px;
	border-radius: 100%;	
}


/*--------------------------
-------------S--------------
---------------------------*/



#Stop {
	position: absolute;
	height: 70px;
	width: 120px;
	left: 0px;
	border-top: 2px white solid;
	border-right: 2px white solid;
	border-left: 2px white solid;
	border-radius: 160px 160px 0% 0%;
}


#Smidleft {
	position: absolute;
	height: 40px;
	width: 50px;
	border-bottom: 2px white solid;
	border-left: 2px white solid;
	top: 58px;
	left: 10px;
	border-bottom-left-radius: 100%;

}

#Smidright {
	position: absolute;
	height: 44px;
	width: 50px;
	border-top: 2px white solid;
	border-right: 2px white solid;
	bottom: 56px;
	right: 11px;
	border-top-right-radius: 100%;
}

#Sbottom {
	position: absolute;
	height: 60px;
	width: 120px;
	bottom: 0px;
	border-bottom: 2px white solid;
	border-right: 2px white solid;
	border-left: 2px white solid;
	border-radius: 0 0 160px 160px;
}

#Sbottomout {
	position: absolute;
	height: 44px;
	width: 50px;
	border-bottom: 2px white solid;
	border-right: 2px white solid;
	bottom: 2px;
	right: 35px;
	border-bottom-right-radius: 100%;
	transform: rotate(40deg)
}

#Srightdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 45px;
	left: 11px;
	border-radius: 100%;
}

#Sleftdot {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	bottom: 35px;
	right: 18px;
	border-radius: 100%;
}

/*------------------------
----------T---------------
------------------------*/


#Ttopleft {
	position: absolute;
	height: 2px;
	width: 100px;
	background: white;
	top: 0px;
	left: 0px;
}

#Ttopright {
	position: absolute;
	height: 2px;
	width: 100px;
	background: white;
	top: 12px;
	right: 0px;
}

#Tmid {
	position: absolute;
	height: 188px;
	width: 2px;
	top: 12px;
	left: 62.5px;
	background: white;
}

#Tdotleft {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 11px;
	left: 10px;
	border-radius: 100%;
}

#Tdotright {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 0px;
	right: 8px;
	border-radius: 100%;
}



/*--------------------------
-------------U-------------
---------------------------*/


#Uleft {
	position: absolute;
	width: 2px;
	height: 140px;
	background: white;
	top: 0;
	left:0;
}

#Uleftline {
	position: absolute;
	width: 2px;
	height: 100px;
	background: white;
	left: 12px;
	top: 50px;
}

#Ubottomleft {
	position: absolute;
	height: 60px;
	width: 60px;
	border-bottom: 2px white solid;
	border-left: 2px white solid;
	bottom: 0;
	left: 0px;
	border-bottom-left-radius: 100%;
}


#Ubottomright {
	position: absolute;
	height: 40px;
	width: 40px;
	border-bottom: 2px white solid;
	border-right: 2px white solid;
	bottom: 15;
	right: 0px;
	border-bottom-right-radius: 100%;

}

#Uright {
	position: absolute;
	width: 2px;
	height: 100px;
	background: white;
	top: 20;
	right:0;
}

#Uleftdot{
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	bottom: 9px;
	right: 54px;
	border-radius: 100%;
}

#Urightdot{
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: white;
	top: 5px;
	right: -1px;
	border-radius: 100%;
}




/*----------------------------
------------- V --------------
-----------------------------*/

#Vleft {
	position: absolute;
	top: -4px;
	left: 30px;
	height: 210px;
	width: 2px;
	transform: rotate(-17deg);
	background: white;
}

#Vleftin {
	position: absolute;
	height: 120px;
	width: 2px;
	transform: rotate(-17deg);
	background: white;
	bottom: 30px;
	left: 23px;
}


#Vleftdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	top: 40px;
	left: 0px;
}

#Vright {
	position: absolute;
	top: -4px;
	right: 30px;
	height: 210px;
	width: 2px;
	transform: rotate(17deg);
	background: white;
}

#Vrightin {
	position: absolute;
	height: 150px;
	width: 2px;
	transform: rotate(17deg);
	background: white;
	top: 10px;
	right: 15px;
}

#Vrightdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	bottom: 30px;
	right: 39px;
}


/*--------------------------
--------------W-------------
----------------------------*/

#Wleft {
	position: absolute;
    height: 200px;
    width: 2px;
    left: 0;
    top: 0;
    background: white;
}

#Wleftline {
	position: absolute;
    height: 130px;
    width: 2px;
    left: 12px;
    top: 0;
    background: white;
}

#Wleftdiag {
	position: absolute;
	height: 90px;
	width: 2px;
	background: white;
	transform: rotate(-40deg);
	right: 30px;
	bottom: -10px;
	
}

#Wrightdiag {
	position: absolute;
	height: 90px;
	width: 2px;
	background: white;
	transform: rotate(40deg);
	left: 30px;
	bottom: -10px;
}

#Wright {
	position: absolute;
    height: 200px;
    width: 2px;
    right: 0;
    top: 0;
    background: white;
}

#Wrightdiagline {
	position: absolute;
	height: 70px;
	width: 2px;
	background: white;
	transform: rotate(40deg);
	left: 35px;
	bottom: 26px;
}

#Wrightline {
	position: absolute;
	background: white;
	height: 120px;
	width: 2px;
	background: white;
	right: 12px;
	top: 43px;
}

#Wleftdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	top: 25px;
	right: 12px;
}

#Wrightdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	bottom: 24px;
	right: 11px;
}


/*--------------------------
--------------X-------------
----------------------------*/

#Xlefttop {
	position: absolute;
	height: 225px;
	width: 2px;
	background: white;
	transform: rotate(-30deg);
	left: 60px;
	top: -10px;
}

#Xrighttop {
	position: absolute;
	height: 115px;
	width: 2px;
	background: white;
	transform: rotate(30deg);
	right: 30px;
	top: -5px;
}

#Xrightline {
	position: absolute;
	height: 100px;
	width: 2px;
	background: white;
	transform: rotate(30deg);
	right: 26px;
	top: 26px;
}

#Xrightbottom {
	position: absolute;
	height: 75px;
	width: 2px;
	background: white;
	transform: rotate(30deg);
	left: 20px;
	bottom: -5px;
}

#Xleftline {
	position: absolute;
	height: 110px;
	width: 2px;
	background: white;
	transform: rotate(-30deg);
	right: 65px;
	bottom: 10px;
}

#Xleftdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	top: 64px;
	left: 18px;
}

#Xrightdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	bottom: 0px;
	right: 29px;
}


/*----------------------------
------------Y----------------
----------------------------*/

#Yleftdiag {
	position: absolute;
	height: 95px;
	width: 2px;
	background: white;
	transform: rotate(-40deg);
	left: 30px;
	top: -10px;
	
}

#Yrightdiag {
	position: absolute;
	height: 72px;
	width: 2px;
	background: white;
	transform: rotate(40deg);
	right: 40px;
	top: 10px;
}

#Yleft {
	position: absolute;
	height: 72px;
	width: 2px;
	background: white;
	transform: rotate(-40deg);
	left: 35px;
	top: 26px;
}

#Ymiddle {
	position: absolute;
	height: 90px;
	width: 2px;
	background: white;
	left: 60;
	bottom: 0;
}

#Yrightdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	top: 6px;
	right: 6px;
}

#Yleftdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	bottom: 99px;
	left: 59px;
}


/*--------------------------
--------------Z-------------
----------------------------*/
#Ztop {
	position: absolute;
	height: 2px;
	width: 125px;
	top: 0;
	left: 0;
	background: white;
}

#Zbottom {
	position: absolute;
	height: 2px;
	width: 100px;
	bottom: 0;
	left: 0;
	background: white;
}

#Zdiag {
	position: absolute;
	top: -13px;
	right: 70px;
	height: 205px;
	width: 2px;
	transform: rotate(30deg);
	background: white;
}

#Zdiagline {
	position: absolute;
	bottom: 4px;
	left: 56px;
	height: 160px;
	width: 2px;
	transform: rotate(30deg);
	background: white;
}

#Zbottomline {
	position: absolute;
	bottom: 13px;
	right: 0px;
	width: 110px;
	height: 2px;
	background: white;
}

#Zleftdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	top: 24px;
	right: 11px;
}

#Zrightdot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	bottom: 0px;
	right: 2px;
}

/*-------numbers------*/

#one {
	position: absolute;
	background: white;
	height: 200px;
	width: 2px;
	left: 60px;
}

#zero {
	position: absolute;
	height: 196px;
	width: 121px;
	border: 2px white solid;
	border-radius: 100%;
}

#zerodot {
	position: absolute;
	background: white;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	bottom: 99px;
	left: 59px;
}